:root {
  --basic: #ede9fe;
  --primary: #7c3aed;
  --background: #171717;
  --background-light: #282828;
  --default-font-size: 16px;
  --default-line-height: 150%;
  --indent-horizontal-mobile: 15px;
  --indent-horizontal-desktop: 60px;
  --indent-vertical-top-mobile: 40px;
  --indent-vertical-bottom-mobile: 40px;
  --indent-vertical-top-desktop: 80px;
  --indent-vertical-bottom-desktop: 80px;
  --border-radius-small: 8px;
}
