:root {
  --white: #fff;
  --basic: #ede9fe;
  --primary: #7c3aed;
  --bg: #171717;
  --bg-light: #282828;
  --bg-transparent: rgba(40, 40, 40, 0.5);
  --font-base: 16px;
  --leading-base: 150%;
  --indent-x: 15px;
  --indent-y: 40px;
  --br-s: 8px;
  --br-m: 16px;
  --header-height: 60px;
}

@media screen and (min-width: 768px) {
  :root {
    --indent-y: 80px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --header-height: 70px;
  }
}
