.logo {
  display: flex;
}

.logo svg {
  width: 113px;
  height: 40px;
}

.logo:hover svg path {
  transition: all 0.2s;
}

.logo:hover svg path:first-child {
  stroke: var(--primary);
}

.logo:hover svg path:not(:first-child) {
  fill: var(--primary);
}
