.logo {
  color: var(--primary);
  display: flex;
}

.logo svg {
  width: 113px;
  height: 40px;
  transition: all 0.2s;
}

.logo svg path {
  transition: all 0.2s;
}

.logo:active svg path[stroke] {
  stroke: currentColor;
}

.logo:active svg path[fill] {
  fill: currentColor;
}

@media (hover: hover) {
  .logo:hover svg path[stroke],
  .logo:focus svg path[stroke] {
    stroke: var(--primary);
  }

  .logo:hover svg path[fill],
  .logo:focus svg path[fill] {
    fill: var(--primary);
  }
}
