.HowWeWorks_Inner {
  padding: var(--indent-vertical-top-mobile) 0
    var(--indent-vertical-bottom-mobile);
}

.HowWeWorks .HowWeWorks_Title {
  margin-bottom: 20px;
}

.HowWeWorks_Steps {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 20px;
}

.HowWeWorks_Steps::before {
  content: '';
  position: absolute;
  top: 22px;
  bottom: 0;
  left: 5px;
  width: 1px;
  background-color: var(--basic);
}

.HowWeWorks_Technologies {
  position: relative;
  pointer-events: none;
}

.HowWeWorks_Technologies::before {
  z-index: -1;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  background-color: var(--primary);
  width: 100%;
  height: 100%;
  filter: blur(110px);
}

@media screen and (min-width: 768px) {
  .HowWeWorks_Inner {
    padding: var(--indent-vertical-top-desktop) 0
      var(--indent-vertical-bottom-desktop);
  }

  .HowWeWorks .HowWeWorks_Title {
    margin-bottom: 50px;
  }

  .HowWeWorks_Content {
    display: grid;
    grid-template-columns: 347px 1fr;
    justify-items: end;
  }

  .HowWeWorks_Steps {
    padding-left: 40px;
  }

  .HowWeWorks_Steps::before {
    top: 29px;
  }

  .HowWeWorks_Technologies {
    pointer-events: auto;
    position: sticky;
    top: 0;
    right: 0;
    width: 614px;
    height: 614px;
  }
}
