.BurgerButton {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.BurgerButton svg path {
  fill: var(--basic);
  stroke: var(--basic);
}

.BurgerButton:hover,
.BurgerButton:focus,
.BurgerButton:active {
  background-color: transparent;
}
