.root {
  display: grid;
  min-height: 100vh;
  grid-template-rows: min-content 1fr min-content;
  font-weight: 400;
  background-color: var(--background);
  color: var(--basic);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
  overflow-x: hidden;
}
