.inner {
  padding: var(--indent-y) 0 var(--indent-y);
}

.title {
  margin-bottom: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

@media screen and (min-width: 768px) {
  .inner {
    padding: var(--indent-y) 0 var(--indent-y);
  }

  .title {
    margin: 0 0 50px;
  }

  .list {
    gap: 50px;
  }
}
