.aboutUs {
  padding: var(--indent-y) 0 var(--indent-y);
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.features {
  display: grid;
  grid-template-rows: 1fr;
  gap: 20px;
}

.featuresItem {
  background-color: var(--bg-light);
  border-radius: var(--br-m);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featuresNumber,
.featuresSymbol {
  color: var(--primary);
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
}

.featuresTitle,
.featuresText {
  text-align: center;
  white-space: pre-wrap;
}

.featuresTitle {
  color: var(--white);
}

.featuresText {
  color: var(--basic);
}

@media screen and (min-width: 768px) {
  .textContainer {
    gap: 50px;
    margin-bottom: 50px;
  }

  .subtitle {
    max-width: 1068px;
  }

  .features {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: space-between;
  }

  .featuresNumber {
    font-size: 40px;
  }
}
