.root {
    position: relative;
    overflow: hidden;
    background-color: var(--bg);
}

.inner {
    pointer-events: none;
    z-index: 1;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 80px 0 80px;

    @media screen and (min-width: 1024px) {
        justify-content: flex-start;
    }
}

.textContainer {
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    @media screen and (min-width: 768px) {
        pointer-events: none;
    }
}

.title {
    text-align: center;
}

.coloredText {
    color: var(--primary);
}

.subtitle {
    text-align: center;

    @media screen and (min-width: 1024px) {
        text-align: start;
    }
}

.button {
    pointer-events: auto;
}

.animationContainer {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.logo {
    pointer-events: none;
    color: var(--bg);
    font-size: 22vw;
    line-height: 13.5vw;
    position: absolute;
    font-weight: 700;
    bottom: 0;
    right: 0;
}

@media screen and (min-width: 768px) {
    .hero {
        padding: 140px 0 0;
    }

    .textContainer {
        gap: 32px;
    }
}

@media screen and (min-width: 1024px) {
    .textContainer {
        align-items: flex-start;
        gap: 32px;
        max-width: 800px;
        margin: 0;
    }

    .title {
        text-align: start;
    }

    .logo {
        font-size: 16vw;
        line-height: 11vw;
    }
}

@media screen and (min-width: 1440px) {
    .hero {
        padding: 314px 0 187px;
        overflow-x: visible;
    }
}
