.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--basic);
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
  text-decoration: none;
  padding: 10px 16px;
  background-color: var(--primary);
  border: none;
  border-radius: var(--br-s);
  transition: all 0.2s ease-in-out;
}

.alt {
  color: var(--primary);
  background-color: var(--basic);
}

.button:not(:disabled):active {
  background-color: var(--basic);
  color: var(--primary);
  opacity: 0.8;
}

.large {
  font-size: 14px;
  font-weight: 600;
  line-height: 143%;
  padding: 20px;
}

.big {
  font-size: 14px;
  font-weight: 600;
  line-height: 143%;
  padding: 10px 16px;
}

.small {
  font-size: 14px;
  font-weight: 600;
  line-height: 143%;
  padding: 10px 16px;
}

@media screen and (min-width: 768px) {
  .big {
    font-size: 16px;
    line-height: 150%;
    padding: 12px 20px;
  }
}

@media (hover: hover) {
  .button:not(:disabled):hover {
    background-color: var(--basic);
    color: var(--primary);
  }

  .alt:not(:disabled):hover {
    color: var(--basic);
    background-color: var(--primary);
  }
}
