.Button {
  cursor: pointer;
  color: var(--basic);
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
  padding: 10px 16px;
  background-color: var(--primary);
  border: none;
  border-radius: var(--border-radius-small);
  transition: all 0.2s ease-in-out;
}

.Button__alt {
  color: var(--primary);
  background-color: var(--basic);
}

.Button:active {
  background-color: var(--basic);
  color: var(--primary);
  opacity: 0.8;
}

.Button__big {
  font-size: 14px;
  font-weight: 600;
  line-height: 143%;
  padding: 10px 16px;
}

.Button__small {
  font-size: 14px;
  font-weight: 600;
  line-height: 143%;
  padding: 10px 16px;
}

@media screen and (min-width: 768px) {
  .Button__big {
    font-size: 16px;
    line-height: 150%;
    padding: 12px 20px;
  }
}

@media screen and (min-width: 1440px) {
  .Button:hover {
    background-color: var(--basic);
    color: var(--primary);
  }

  .Button__alt:hover {
    color: var(--basic);
    background-color: var(--primary);
  }
}
