.root {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--background-transparent);
    transition: all 0.3s ease-in-out;
}

.root.scrolled {
    top: -100px;
}

.root.show {
    top: 0;
    background-color: var(--background-light);

    .inner {
        background-color: var(--background-light);
    }
}

.inner {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;

    @media screen and (min-width: 768px) {
        padding: 15px 0;
    }
}

.burger {
    @media screen and (min-width: 1024px) {
        display: none;
    }
}

.buttonsContainer {
    display: flex;
    gap: 20px;
    align-items: center;
}

.menu {
    z-index: 0;
    position: absolute;
    top: calc(100% + 16px);
    right: var(--indent-horizontal-mobile);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 16px;
    opacity: 0;
    background-color: var(--background);
    border-radius: var(--border-radius-medium);
    box-sizing: border-box;
    pointer-events: none;
    transition: all 0.4s ease-in-out;

    & .nav {
        align-items: flex-end;
    }

    @media screen and (min-width: 1024px) {
        flex-grow: 1;
        flex-direction: row;
        align-items: center;
        position: static;
        opacity: 1;
        padding: 0;
        background-color: inherit;

        & .nav {
            margin: 0 auto;
        }
    }
}

.menuOpened {
    opacity: 1;;
    pointer-events: all;
}

.socials {
    @media screen and (max-width: 767px) {
        display: none;
    }
}
