.header {
  z-index: 1;
  position: fixed;
  width: 100%;
  background-color: var(--background-light);
}

.inner {
  z-index: 2;
  padding: 10px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-light);
  background-color: rgb(40, 40, 40);
}

.buttonsContainer {
  display: flex;
  gap: 20px;
  align-items: center;
}

.mobileMenu {
  z-index: 1;
  position: absolute;
  top: -400px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 100px var(--indent-horizontal-mobile) 20px;
  background-color: var(--background);
  transition: all 0.4s ease-in-out;
}

.mobileMenuOpened {
  top: 100%;
}

.mobileMenuBottomContainer {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }

  .mobileMenu .nav {
    display: block;
  }

  .socials {
    display: none;
  }

  .callbackButton {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .Header_Inner {
    padding: 15px 0;
  }
}
