.inner {
  padding: var(--indent-vertical-top-mobile) 0
    var(--indent-vertical-bottom-mobile);
}

.title {
  margin-bottom: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

@media screen and (min-width: 768px) {
  .inner {
    padding: var(--indent-vertical-top-desktop) 0
      var(--indent-vertical-bottom-desktop);
  }

  .title {
    margin: 0 0 50px;
  }

  .list {
    gap: 50px;
  }
}
