.buttonsList {
  display: flex;
  width: 100%;
  margin-bottom: 35px;
  border: 1px solid var(--primary);
  border-radius: var(--border-radius-small);
}

.buttonsItem {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabsButton {
  flex-grow: 1;
  padding: 12px 5px;
  border-radius: 0;
  margin: 0;
}

.buttonActive:active {
  opacity: 1;
}

.buttonActive:hover {
  background: var(--primary);
  color: var(--basic);
}

.buttonsItem:first-child .tabsButton {
  border-radius: var(--border-radius-small) 0 0 var(--border-radius-small);
}

.buttonsItem:last-child .tabsButton {
  border-radius: 0 var(--border-radius-small) var(--border-radius-small) 0;
}

@media screen and (min-width: 768px) {
  .buttonsList {
    margin-bottom: 50px;
  }
}
