.buttonsList {
  display: flex;
  width: 100%;
  margin-bottom: 35px;
  border: 1px solid var(--primary);
  border-radius: var(--br-s);
}

.buttonsItem {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.buttonsItem:not(:first-of-type):not(:last-of-type) {
  border-left: 1px solid var(--basic);
  border-right: 1px solid var(--basic);
}

.buttonsItem:first-of-type {
  border-right: 1px solid var(--basic);
}

.buttonsItem:last-of-type {
  border-left: 1px solid var(--basic);
}

.tabsButton {
  flex-grow: 1;
  padding: 12px 5px;
  border-radius: 0;
  margin: 0;
}

@media (hover: hover) {
  .tabsButton:not(:disabled):hover {
    opacity: 0.9;
  }
}

.tabsButton:focus {
    opacity: 0.9;
}

.buttonsItem:first-child .tabsButton {
  border-radius: var(--br-s) 0 0 var(--br-s);
}

.buttonsItem:last-child .tabsButton {
  border-radius: 0 var(--br-s) var(--br-s) 0;
}

.tabContent {
  display: none;

  &.tabContentActive {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .buttonsList {
    margin-bottom: 50px;
  }
}
