.socials {
  display: flex;
  align-items: center;
  gap: 10px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--basic);
  transition: all 0.2s;
}

.link:hover,
.link:focus {
  background-color: var(--primary);
}

.link:active {
  background-color: var(--primary);
}

.link:hover svg path[fill],
.link:focus svg path[fill] {
  fill: var(--basic);
}

.link:active svg path[fill] {
  fill: var(--basic);
}

.link:hover svg path[stroke],
.link:focus svg path[stroke] {
  stroke: var(--basic);
}

.link:active svg path[stroke] {
  stroke: var(--basic);
}
