.root {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px 0;
    border-bottom: 1px solid var(--basic);
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text {
    max-width: 600px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.button {
    flex: 1;
}

@media screen and (min-width: 768px) {
    .root {
        justify-content: space-between;
        padding: 12px 20px 37px;
        display: grid;
        grid-template-columns: 1fr max-content;
        align-items: flex-end;
    }

    .button {
        flex: auto;
    }
}
