.root {
  position: relative;
}

.root::after {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, transparent, var(--background));
}

@media screen and (min-width: 1024px) {
  .root::after {
    display: none;
  }
}

.inner {
  z-index: 1;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
  padding: 80px 0 80px;

  @media screen and (min-width: 1024px) {
    align-items: center;
    justify-content: flex-start;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.title {
  text-align: center;
}

.coloredText {
  color: var(--primary);
}

.subtitle {
  text-align: center;
}

.animationContainer {
  /* position: relative;
  aspect-ratio: 1 / 1.1; */
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.Hero_AnimationContainer:before {
  /* aspect-ratio: 1 / 1;
  top: 15px;
  left: calc(var(--indent-horizontal-mobile) * -1);
  right: calc(var(--indent-horizontal-mobile) * -1);
  background-color: #c4b5fd;
  border-radius: 50%;
  filter: blur(100px); */
}

.canvas {
  position: absolute !important;
  width: auto !important;
  height: auto !important;
  top: -15px;
  left: calc(var(--indent-horizontal-mobile) * -1);
  right: calc(var(--indent-horizontal-mobile) * -1);
  bottom: 15px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 140px 0 0;
  }

  .textContainer {
    gap: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    padding: 314px 0 187px;
    overflow-x: visible;
  }

  .textContainer {
    align-items: flex-start;
    max-width: 800px;
    margin: 0;
  }

  .title {
    text-align: start;
  }

  .animationContainer {
    /* top: -177px;
    left: 770px;
    width: 858px;
    height: 858px; */
  }

  .animationContainer:before {
    left: 0;
    right: 0;
    top: -100px;
    aspect-ratio: 1 / 1;
  }

  .canvas {
    width: 800px !important;
    height: 800px !important;
    top: -90px;
    left: -90px;
    bottom: auto;
    right: auto;
  }
}
