.footer {
  background-color: var(--bg-light);
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

@media screen and (min-width: 768px) {
  .inner {
    padding: 20px 0;
  }
}
