.title {
  color: var(--white);
  line-height: 150%;
  font-weight: 700;
  margin: 0;
}

.big {
  font-size: 36px;
  line-height: 130%;
}

.medium {
  font-size: 30px;
}

.small {
  font-size: 22px;
}

.extra-small {
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .big {
    font-size: 60px;
  }

  .medium {
    font-size: 40px;
  }

  .small {
    font-size: 24px;
  }

  .extra-small {
    font-size: 20px;
  }
}
