.AboutUs {
  padding: var(--indent-vertical-top-mobile) 0
    var(--indent-vertical-bottom-mobile);
}

.AboutUs_TextContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.AboutUs_Features {
  display: grid;
  grid-template-rows: 1fr;
  gap: 15px;
}

.AboutUs_FeaturesItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AboutUs_FeaturesItemNumber {
  color: var(--primary);
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
}

.AboutUs_FeaturesItemText {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .AboutUs {
    padding: var(--indent-vertical-top-desktop) 0
      var(--indent-vertical-bottom-desktop);
  }

  .AboutUs_TextContainer {
    gap: 50px;
    margin-bottom: 50px;
  }

  .AboutUs_Subtitle {
    max-width: 1068px;
  }

  .AboutUs_Features {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: space-between;
  }

  .AboutUs_FeaturesItemNumber {
    font-size: 40px;
  }
}
